/* Colors used */
:root {
    --green: #6e994d;
    --orange: #e17e06;
    --yellow: #f2e074;
    --olive: #d0d59d;
    --tan: #f7ecd0;
}

/* Basic styling for Plate Pal */
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default body margin */
}

header, footer {
    background-color: var(--tan);
    padding: 1em;
    color: var(--green);
}

h3 {
    color: var(--orange);
}

main {
    padding: 1em; /* Adjust padding as needed to reduce spacing */
    background-color: var(--tan);
}

/* Center the recipe title, cooking time, and serving size */
.recipe-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px; /* Adjust space below the title */
}

.recipe-info {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-info p {
    font-size: 1.2em;
}


form input, form button {
    margin: 0.5em 0;
}

nav {
    background-color: var(--green);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 0; /* Remove bottom margin to eliminate extra space */
}

nav a {
    color: var(--yellow);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: var(--orange);
}

form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

input[type="text"], input[type="password"] {
    width: 200px;
    padding: 10px;
    border: 2px solid var(--olive);
    border-radius: 5px;
    outline: none;
    margin: 2px;
}

button[type="submit"] {
    background-color: var(--orange);
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin: 2px;
}

button[type="submit"]:hover {
    background-color: var(--green);
}

.logo {
    width: 150px; 
    height: auto;
}